<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Server-sent Events</h1>
    <p>Status:</p>
    <div id="status"></div>
    <p>Server sent data:</p>
    <div id="data"></div>

    <script>
        const eventSource = new EventSource("/sse")
        const dataDiv = document.getElementById("data")
        const statusDiv = document.getElementById("status")

        eventSource.addEventListener('new_message', (event) => {
            dataDiv.innerText = event.data
        })

        eventSource.addEventListener('open', (event) => {
            statusDiv.innerText = "Connection was opened."
        })

        eventSource.addEventListener('error', (event) => {
            if (eventSource.readyState === EventSource.CLOSED) {
                statusDiv.innerText = "Connection was closed.";
            } else if (eventSource.readyState === EventSource.CONNECTING) {
                statusDiv.innerText = "Reconnecting...";
            } 
        });
    </script>
</body>
</html>